.task-container {
  padding: 20px 0 50px;
  animation: showTask 1.5s 2.5s;
}

.task-ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error, .loading {
  color: #F3EFE0;
  font-size: 1.4rem;
  text-align: center;
}

/* Animation */

@keyframes showTask {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
